*{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: sans-serif;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff85;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    z-index: 999;
    border-bottom: 1px solid #2222221a;
    box-shadow: 0 0 25px #14141481;
}

header h2{
    color: #3872FB;
    text-shadow: 0 0 15px #3872FB;
}

.menu{
    display: flex;
}

.menu a{
    margin: 0px 25px;
    color: #000;
    font-size: 1.1rem;
    transition: all 500ms ease-in-out;
}

.menu a:hover{
    color: #000000a1;
}


.menu a span{
    padding: 2px;
    border-bottom: 2px solid #3872FB;
}

.icon-header{
    display: none;
}

/* sidebar website */

.container-sidebar{
    top: 0.1rem;
    align-items: center;
    height: 100%;
    display: none;
}

.container-sidebar div{
    display: flex;
    background: transparent;
}

.container-sidebar div label{
    cursor: pointer;
    font-size: 2rem;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color: #3872FB;
    text-shadow: 0 0 15px #3872FB;
    width: 50px;
    transition: all 500ms ease-in-out;
}

input[type=checkbox] {
    display: none;
}

.container-sidebar .sdb {
    margin: 1.2rem 0;
    position: absolute;
    width: 0;
    background: linear-gradient(45deg , #fff , #81a3f3);
    box-shadow: 0 0 15px #00000036;
    z-index: -1;
    left: 0;
    transition: all 500ms ease-in-out;
    overflow: hidden;
    height: 50vh;
}

.container-sidebar .sdb .sidebar-menu li a{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #302d2d;
    padding: 1.7rem 2rem;
    transition: all 200ms ease-in-out;
}

.container-sidebar .sdb .sidebar-menu li a:hover{
    background: #00000080;
    backdrop-filter: blur(10px);
}

input[type=checkbox]:checked ~ .sdb {
    width: 70%;
}